@charset "UTF-8";

@font-face {
    font-family: 'azonix';
    src: url('fontes/Azonix.otf') format('opentype');
}

/*
    azul escuro2 = #220e40
    azul-escuro = #000096
    azul-medio = #0053cc
    azul-claro = #0bd1b4
    cinza1 = #f7f7f7
    cinza2 = #555555
*/

body {
    background-color: #f3f3f4;
}
nav.navbar, header {
    padding: 5px;
    background-color: white !important;
    box-shadow: 0 5px 5px #0000001a;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    font-size: 15px;
} 

i.fa-bars {
    color: #000096;
}
nav .nav-link {
    color: #000096 !important;
}

nav .nav-link:hover{
    text-decoration: underline;
}
main > h1 {
    background-color: #d6d6d6;
    color: #505050;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    grid-column: 1/6;
    grid-row: 1;
}
main {
    font-size: 25px;
    
}

section {
    background-color: white;
    padding: 5px;
    border: 1px solid #c8c8c8;;
    font-size: 20px;
    height: fit-content;
}
.dropdown {
    background-color: white;
    padding: 0px 5px;
}
.btn {
    color: #000096 !important;
    width: fit-content;
    max-width: 150px;
    border-radius: 0px;
}
.dropdown-menu {
    height: fit-content;
}
.dropdown-item {
    color: #000096 !important;
    background-color: white !important;
    font-size: 15px !important;
    transition: 0.2s linear;
}
.dropdown-item:hover {
    background-color: #c8c8c8 !important;
}
ul {
    height: fit-content;
}
li {
    color: rgb(0, 0, 150);
    font-size: 20px;
    height: fit-content;
}

li > a{
    color: rgb(0, 0, 150);
    text-decoration: none;
}
