@charset "UTF-8";

@font-face {
    font-family: 'azonix';
    src: url('fontes/Azonix.otf') format('opentype');
}

:root {
    --azul-escuro: #220e40;
    --azul-escuro2: #000096;
    --azul: #0053cc;
    --azul-claro: #0db1b4;
    --cinza-claro: #f7f7f7;
    --cinza: #c8c8c8;
    --cinza-escuro: #555;
}

body {
    background-color: #f3f3f4;
}
nav.navbar, header {
    padding: 5px;
    background-color: white !important;
    box-shadow: 0 5px 5px #0000001a;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    font-size: 15px;
} 

i.fa-bars {
    color: var(--azul-escuro2);
}
nav .nav-link {
    color: var(--azul-escuro2) !important;
}

nav .nav-link:hover{
    text-decoration: underline;
}

section {
    background-color: white;
    padding: 5px;
    border: 1px solid var(--cinza);
    font-size: 20px;
    height: fit-content;
}
.dropdown {
    background-color: white;
    padding: 0px 5px;
}
.btn {
    color: var(--azul-escuro2) !important;
    width: fit-content;
    max-width: 150px;
    border-radius: 0px;
}
.dropdown-menu {
    height: fit-content;
}
.dropdown-item {
    color: var(--azul-escuro2) !important;
    background-color: white !important;
    font-size: 15px !important;
    transition: 0.2s linear;
}
.dropdown-item:hover {
    background-color: var(--cinza) !important;
}
ul {
    height: fit-content;
}
li {
    color: var(--azul-escuro2);
    font-size: 20px;
    height: fit-content;
}

li > a{
    color: var(--azul-escuro2);
    text-decoration: none;
}

footer {
    height: fit-content;
    background-color: var(--azul-escuro);
    color: white;
    font-size: 25px ;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer a {
    color: white;
    width: 250px;
    text-decoration: none;
    flex: 0 0 250px;
}

footer a:hover {
    color: white;
}